/* fonts */
@font-face {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/RobotoCondensed-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/RobotoCondensed-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "RobotoCondensed-Light";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/RobotoCondensed-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/Montserrat-Bold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

/* .section {
  width: 50%;
} */

/* list style */
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* title style */

.title {
    margin: 0;
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
}

/* link style */

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover,
.link:focus {
    color: rgba(255, 255, 255, 0.5);
}

.link:active {
    color: rgba(255, 255, 255, 0.3);
}

/* nav style */

.main-nav {
    width: 100%;
    background-color: rgba(145, 145, 145, 1);
    color: rgba(255, 255, 255, 1);
    padding: 20px;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.main-nav__link {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    /* text-transform: uppercase; */
    padding:  5px 10px;
    color: rgba(255, 255, 255, 1);
}

